

.main{
    background-color: #D9773E;
    color : white;  
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    max-height: 800px;
}
.main-titulo{
font-size: 42px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.main-parrafo{
    font-size: 20px;
    margin: 20px 0;
}

.heroe-image img{
    
    mask-image: linear-gradient(to left,rgba(0,0,0,1) 1%, rgba(0,0,0,0) 100%);
    width: 100%;
    max-height: 800px;
    
}
.btn-heroe{
    background: var(--btn-primary-bg);
    text-shadow: 1px 1px 2px var(--surface);
    color: var(--btn-primary-text);
    padding: 10px 15px;
    border-radius: 8px;
    border: 2px solid var(--border);
    font-size: 20px;
    cursor: pointer;
    transition: .3s;
    margin: 10px;
}
.btn-heroe:hover{
    background: var(--btn-secondary-bg);
    box-shadow: 0 0 10px var(--surface);
    transform: scale(1.05);
}
@media (max-width: 768px) {
    .main{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .heroe-image img{
        mask-image: linear-gradient(to top, rgba(0,0,0,1) 70%, rgba(0,0,0,0) 100%);
        margin: auto;
        max-width: 100%;
        height: auto;
        
    }
}