<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Listado de productos</title>
  <link rel="stylesheet" href="../../assets/css/estilos.css">
</head>
<body>
 <div class="tabla-contenedor">
  <h1 class="tabla-titulo">Listado de productos</h1>

  <!-- La tabla está vacía por ahora -->
   <table class="tabla-listado">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
      </tr>
    </thead>
     <tbody id="body-productos">
        </tbody>
  </table>
  <div class="acciones-listado">
    <a href="./productos.html" class="btn guardar">Agregar categoría</a>
  </div>

  <p class="autor">Hernán Manera</p>

  <script>
     fetch('../lista_productos.php')
      .then(r => r.text())
      .then(htmlFilas => {
        document.getElementById('body-productos').innerHTML = htmlFilas;
      });
  </script>
</body>
</html>
