<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IronPulse</title>
    <link rel="stylesheet" href="../assets/css/estilos.css">
</head>
<body>
    <header class="header"></header>
    <header class="headerHome"></header>
    <main class="main">
           <div class="main-container">
            <p class="main-titulo">Bienvenido a IronPulse</p>
            <p class="main-parrafo">Tu lugar para comprar tu nueva PC.</p>
            <button class="btn-heroe" id="startButton">Comprar</button>
            <button class="btn-heroe" id="startButton">Anunciante</button>
        </div>
    <div class="heroe-image">
            <img src="../assets/img/heroe.png" alt="">
        </div>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="module" src="../assets/js/main.js"></script>
        <script type="module">
            import { HeaderHome } from "../assets/js/components/header.js";
            HeaderHome();
        </script>
</body>
</html>