@import url(./colors.css);
@import url(./form.css);
@import url(./header.css);
@import url(./views/home.css);
@import url(./listas.css);
body {
  font-family: Arial, sans-serif;
  background: var(--bg);

  margin: 0;
  padding: 0;
}
.danger {
  color: var(--danger);
}
.success {
  color: var(--success);
}
.primary {
  color: var(--btn-primary-text);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  background-color: var(--btn-primary-bg);
  border: 2px solid var(--bg);
}