@import url(./colors.css);
@import url(./form.css);
@import url(./header.css);
@import url(./views/home.css);
@import url(./listas.css);
html{
  height: fit-content;
}
body {
  font-family: Arial, sans-serif;
  

  margin: 0;
  padding: 0;
}
.danger {
  color: var(--danger);
}
.success {
  color: var(--success);
}
.primary {
  color: var(--btn-primary-text);
  background-color: var(--btn-primary-bg);
  
}  
.bg-primary{
  background: linear-gradient(to top, var(--secondary) 2%, var(--surface) 7%, transparent 90%);
}
.bg-secondary{
  background-color: var(--secondary);
}


.secondary {
  color: var(--secondary);
  
}
.border-bottom{
  border-bottom: 2px solid var(--secondary);
}
.border{
  border: 2px solid var(--secondary);
}
.text-shadow{
  text-shadow: 2px 2px 2px var(--surface);
}